.grille {
    border-collapse: collapse;
}

.grille .cell {
    width: 32px;
    height: 32px;
    border: 1px solid yellowgreen;
    background-color: #161b22;
    vertical-align: center;
}

.grille .cell.print {
    border: 1px solid black;
    background-color: white;
}


.grille .cell .hole {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    background: yellowgreen;

}

.grille .cell .hole.print {
    width: 4px;
    height: 4px;
    margin: 0 auto;
    border-radius: 50%;
    background: black;
}