.counter {
  display: flex;
  align-items: center;
}

.value {
  padding: 0 8px 0 8px;
  font-size: 16px;
  user-select: none;
  color: white;
}

.button {
  width: 36px;
  height: 36px;
  padding: 4px 4px;
  background-color: #4493f8;
  border: none;
  color: white;
  outline: none;
  transition: all 0.1s;
}

.button:not(:disabled):hover {
  filter: brightness(105%);
}

.button:not(:disabled):active {
  filter: brightness(115%);
}

.button:disabled {
  filter: brightness(50%);
  cursor: not-allowed;
}