.print {
  margin: 32px 16px;
}

.header {
  margin-left: 16px;
}

.controls {
  margin-top: 32px;
  display: flex;
  gap: 16px;
  margin-left: 16px;
}

.printContainer {
  width: 100%;
  margin-top: 16px;
  overflow: auto;
}

.grille,
.table {
  float: left;
  margin-left: 16px;
  margin-top: 16px;
}

@media print {
  .header {
    display: none;
  }

  .controls * {
    display: none;
  }
}
