.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  width: 500px;
  text-align: center;
}

.section {
  margin-top: 48px;
}

.section:first-child {
  margin-top: 64px;
}

.step {
  margin-top: 32px;
}

.step:first-child {
  margin-top: 16px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.image {
  margin-left: 16px;
}

.image:first-child {
  margin-left: 0;
}

.step:first-child {
  margin-top: 16px;
}

.controls {
  display: flex;
  margin-top: 16px;
}

.generateButton {
  margin-left: 32px;
}

.importButton {
  margin-left: 8px;
}

.grilleContainer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.printGrilleButton {
  margin-left: 8px;
}

.textarea {
  width: 100%;
  margin-top: 16px;
}

.encryptButton {
  margin-top: 16px;
}

.tableContainer {
  clear: both;
  overflow: auto;
  margin-top: 16px;
}

.table {
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
}

.printTablesButton {
  margin-top: 16px;
}
