@font-face {
  font-family: 'CascadiaCode';
  src: local('CascadiaCode'), url('./assets/CascadiaCode.woff2');
}

:root {
  --background: #161b22;
  --text-accent: #4493f8;
}

html,
body {
  background: var(--background);
  font-family: 'CascadiaCode';
  color: white;
}

h1,
h2 {
  margin: 0;
}

h1 {
  color: orangered;
}

h2 {
  color: darkorange;
}

p {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

label {
  user-select: none;
}

@media print {
  ul,
  ol,
  table {
    page-break-inside: avoid;
  }
}

@page {
  size: auto;
  margin: 0mm;
}
